.rotate {
    width: 200px;
    height: 200px;
    background-color: yellow;
    display: grid;
    place-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

label, .round, .rotate {
    font-size: clamp(16px, 2vw, 24px);
}

.round, form {
    text-align: center;
}



