li:has(img) {
    background-color: green;
}

li:not(.active) {
    color: blue;
}

li:is(.active) {
    color: purple; 
}

li:where(.active) {
    color: yellow; /* doesn't work because specificity 0 */
    font-size: 24px;
}

.show-modal {
    background-color: gray;
    border-radius: 10%;
    padding: 3px;
    color: white;
}
  
#modal {
    display: none;
}

#modal:target {
    display: block;
    width: 100px;
}

p:has(+span) {
    color: red;
}

p+span {
    text-decoration: underline;
}