/*  */
html { 
    overflow: hidden;
    position: relative;
}

/* Fortune wheel */
.circle-img {
    width: 300px;
    animation: 2.5s linear infinite spin;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.stopped {
    animation-name: none;
}
  
/* Rotating qube */
.container {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 40%;
}

.square {
    width: 94%;
    height: 94%;
    background-color: var(--opposite-color);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47% 0 0 -47%;
}

.black {
    background-color: var(--base-color);
    animation: 10s infinite linear rotate-qube; 
}

@keyframes rotate-qube {
    0% { 
        transform: rotate(360deg); 
    }
	100% { 
        transform: rotate(0deg); 
    }	
}

/* Falling words */
.word {
    opacity: 0;
    position: absolute;
    display: flex;
}
.text {
    margin-top: var(--margin-gap);
}

.text p {
    display: inline-flex;
    vertical-align: top;
    font-size: 32px;
    margin-right: 6px;
    color: var(--color-violet);

}

.current {
    opacity: 1;
}

.letter {
    transform-origin: center center 25px;
}

.in {
    transition: 0.38s ease;
}

.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.behind {
    transform: rotateX(-90deg);
}

.qube.animated {
    width: 200px;
    height: 200px;
    background-color: var(--color-red);
    transform: translate(-60px, -25%); 
    margin: 0 auto;
    animation: translate 1s 0s ease-out, rotate 3s 1s ease-out, skew 4s 4s ease-out, scale 4s 8s ease-out, matrix 4s 12s ease-out, perspective 4s 16s ease-out, translate-finish 1s 20s ease-out;
}

@keyframes translate{
    0% { 
        transform: translate(-60px, -25%); 
        background-color: var(--color-red);
    }
    50% {
        transform: translate(120px, 50%); 
    }
	100% { 
        transform: translate(-60px, -25%); 
        background-color: var(--color-red);
    }	
}

@keyframes rotate{
    0% { 
        transform: rotate(0.5turn); 
        background-color: var(--color-red);
    }
	100% { 
        transform: rotate(0); 
        background-color: var(--color-orange);
    }	
}

@keyframes skew{
    0% { 
        transform: skew(30deg, 20deg); 
        background-color: var(--color-orange);
    }
	100% { 
        transform: skew(0deg, 0deg);
        background-color: var(--color-yellow); 
    }	
}

@keyframes scale{
    0% { 
        transform: scale(2, 0.5); 
        background-color: var(--color-yellow);
    }
	100% { 
        transform: scale(1, 1); 
        background-color: var(--color-green);
    }	
}

@keyframes matrix{
    0% { 
        transform: matrix(1, 2, 3, 4, 5, 6); 
        background-color: var(--color-green); 
    }
	100% { 
        transform: matrix(0, 1, 1, 0, 0, 0); 
        background-color: var(--color-blue); 
    }	
}

@keyframes perspective { 
    0% { 
      transform-origin: 100% 0; 
      transform: perspective(800px) rotateY(0deg); 
      background-color: var(--color-blue); 
    }
    33% { 
      transform-origin: 100% 0; 
      transform: perspective(800px) rotateY(180deg); 
    }
    50% {
        background-color: var(--color-violet); 
    }
    66% { 
      transform-origin: 0 100% ; 
      transform: perspective(800px) rotateX(270deg); 
    }
    100% { 
      transform-origin: 0 100%; 
      transform: perspective(800px) rotateY(0deg); 
      background-color: var(--color-violet); 
    }
}

@keyframes translate-finish{
    0% { 
        transform: translate(-60px, -25%); ; 
        background-color: var(--color-violet);
    }
    50% {
        transform: translate(120px, 50%); 
    }
	100% { 
        transform: translate(-60px, -25%); 
        background-color: var(--color-red);
    }	
}