:host {
    all: initial;
    background-color: var(--accent-color);
    width: 260px;
    height: 104px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    top: 350px;
    right: 40px;
    box-shadow: 8px 9px 18px 0px var(--color-red);
}
  
p {
    margin: 0;
}

.temp {
    font-size: 1.5em;
}

.icon {
    position: absolute;
    top: 7px;
    right: 20px;
}